body {
    background-color: #232323;
    margin-top: 50px;
    font-family: 'Lato';
    color: white;
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button {
    color: #656565;
    background-color: #7951A8;
    bordercolor: #7951A8;
}

button:focus {
    border: 1px solid #333;
}

h2 {
    text-align: center!important;
}

img {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 33%;
}
